body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    color: black;
}

header {
    width: 100%;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    flex-grow: 1;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.row {
    overflow-y: auto;
    padding: 10px;
    margin-top: 1000px;
    margin: 5px;
    border: 1px solid #ccc;
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Limit maximum width */
    text-align: center; /* Center text */
}

.container {
    margin-top: 80px;
}

#tableForm {
    margin-bottom: 5%;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#newInsert {
    margin-bottom: 2%;    
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
