[Unit]
Description=ShowMaster Server

[Service]
User=root
WorkingDirectory=/opt/showmaster/
LimitNOFILE=4096
ExecStart=/opt/showmaster/main
Restart=on-failure
StartLimitInterval=180
StartLimitBurst=30
RestartSec=5s

[Install]
WantedBy=multi-user.target