/* Global CSS */

/* PopUp */
/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Button Inside Modal */
.modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
}

/* Overall page container */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7fa;
    padding: 20px;
    box-sizing: border-box;
}

/* Login Stuff */
.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    max-width: 1000px;
    margin-bottom: 15px;
}

/* Centering the login box */
.login-container {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    justify-content: center;
}

/* Styling the login form */
h2 {
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
    display: block;
}

.input-control {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 18px;
    box-sizing: border-box;
}

/* Primary Button */
.btn-primary {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Links for password reset and register */
.footer-links {
    text-align: center;
}

.btn-link {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}